<p>Pipe titlecase:  {{nombre | titlecase}}</p>
<p>Pipe upppercase: {{nombre | uppercase}}</p>
<p>Pipe date: {{fecha  | date}}</p>
<p>Pipe date:'short': {{fecha  | date:'short'}}</p>

<p>Mi pipe 'estados': {{estado | estados}}</p>
<button (click)="cambiarEstado();">Cambiar estado</button>

<!--
<br/><br/>
<button [routerLink]="['/estructural']" routerLinkActive="seccionActiva">Ir a Componente Estructural</button>
<button [routerLink]="['/pipes']" routerLinkActive="seccionActiva">Ir a Pipes</button>
-->
